@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Rubik');

*,*:before, *:after{
    box-sizing: border-box;
}
body{
    font-family: 'Rubik', sans-serif;
}

.title, h1, h2, h3{
    font-family: 'Chewy', cursive;
}
.main-title{
    font-weight: 500;
}

h1{
    margin-top: -5%;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.85em;
    }
    h2 {
        font-size: 2.6em;
    }
}
h3{
    padding-top: 50px;
}

h6{
    font-size: 1.64rem;
}

/*HOME*/

.intro{
    height: 100vh;
    text-align: center;
}
.no-margin{
    margin:0;
}

/* First Info */

.first-photo{
    height: 400px;
    background: url(../img/first.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.second-photo{
    height: 400px;
    background: url("../img/second.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Participate */
.icon-block{
    padding: 0 15px;
}
.icon-block .material-icons{
    font-size: 3.56rem;
}
.padding-bottom{
    padding-bottom: 50px;
}

/*team*/
.team-col{
    margin-bottom: 30px;
}

.team-person{
    border-radius: 999px;
    height: 250px;
    width: auto;
    -webkit-transition: 0.25s all linear;
    transition: 0.25s all linear;
}
.team-person:hover{
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.5);
}

@media (max-width: 480px) {
    .team-person{
        width: 100%;
        height: auto;
    }
}

#contact{
    padding-top: 50px;
}

.footer-icons{
    margin-bottom: 50px;
}

.page-footer{
    margin-top: 0;
}

.footer-copyright{
    padding: 10px;
    text-align: center;
}

.side-nav li{
    display: inline-block;
}

.side-nav{
    width: 230px;
    background-color: #e8f5e9;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;

}
.icon-block:hover{
    background-color: #2bbbad;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),0 4px 15px 0 rgba(0, 0, 0, 0.15);
}